<footer class="footer">
    <div class="container text-center">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <h5>Comunidad de Fe Granados</h5><br>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="social list-inline resp-soc">
                                <li class="social-btn" id="fb"><a href="https://www.facebook.com/ComunidadDeFeGranados"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-btn" id="ig"><a href="https://www.instagram.com/cdfegranados/?hl=es"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <h5>Jovenes CdFe Granados</h5><br>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="social list-inline resp-soc">
                                <li class="social-btn" id="fb"><a href="https://www.facebook.com/JovenesCDFeGranados"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-btn" id="ig"><a href="https://www.instagram.com/jovenescdfegranados/?hl=es"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <h5>180 Granados</h5><br>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="social list-inline resp-soc">
                                <li class="social-btn" id="fb"><a href="https://www.facebook.com/180cdfegranados"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-btn" id="ig"><a href="https://www.instagram.com/180cdfegranados/?hl=es"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <p class="copyright">Copyright© 2021 Creado por: <a href="https://www.instagram.com/chrisadrian217/?hl=es">Christian Murillo</a></p>
        </div>
    </div>
</footer>
