<section class="features parallax" data-stellar-background-ratio="0.7" id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-04.jpg?alt=media&token=15b026d9-2793-46f8-8a3d-1abb08ef3877" 
                            class="pic-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-01.jpg?alt=media&token=6ab1a53f-763c-4d8e-9969-684dba56424d" 
                            class="pic-img">
                    </div>
                    <h4>Pastor Danny Serrano</h4>
                </div>
            </div>
        </div><br>
        <div class="row text-center">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-02.jpg?alt=media&token=fad405c1-ec4f-4a58-aefd-30165e4b1092" 
                            class="pic-img">
                    </div>
                    <h4>Pastor Jeffrey Huff</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-03.jpg?alt=media&token=302a02aa-7fd9-4774-a51c-a026b0d9740e" 
                            class="pic-img">
                    </div>
                    <h4>Pastor Nicolás Gómez</h4>
                </div>
            </div>
        </div>
    </div>
</section>