<section class="features parallax" data-stellar-background-ratio="0.7" id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-07.jpg?alt=media&token=2e220076-292a-4674-81a6-e2e3dfaacddf" 
                            class="pic-img">
                    </div><br>
                    <a 
                        class="pred" 
                        href="https://www.instagram.com/joelmanderfield/?hl=es">
                        Pastores Joel y Giselle Manderfield
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-05.jpg?alt=media&token=fc03ca6f-91f7-4ade-ac50-cac4e282fd2a" 
                            class="pic-img">
                    </div><br>
                    <a 
                        class="pred" 
                        href="https://www.instagram.com/dannyserranos/?hl=es">
                        Pastores Danny Serrano y Gaby Muñoz
                    </a>
                </div>
            </div>
        </div><br>
        <div class="row text-center">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-06.jpg?alt=media&token=cdb550f3-fb89-43db-b468-bae1aa417a0d" 
                            class="pic-img">
                    </div><br>
                    <a 
                        class="pred" 
                        href="https://www.instagram.com/jeffghuff/?hl=es">
                        Pastor Jeffrey Huff y Sarah Ingman
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="features-box">
                    <div class="open-overlay">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/hoymasquenunca-b452d.appspot.com/o/img-03.jpg?alt=media&token=3e7bedac-452c-4b5a-8758-f7a675775ea6" 
                            class="pic-img">
                    </div><br>
                    <a 
                        class="pred" 
                        href="https://www.instagram.com/nickbass77/?hl=es">
                        Pastor Nicolás Gómez
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>