<section id="register" class="contact">
    <div>
        <div class="bg-ple"><br><br class="title-taller">
            <div class="container fluid">
                <div>
                    <div class="col-lg-4 title-ple">
                        AGENDA
                    </div>
                    <div class="col-lg-8 subtitle">
                        PLENARIAS
                    </div>
                    <br>
                    <br class="title-taller">
                    <br class="title-taller">
                    <br class="title-taller">
                    <br class="title-taller">
                    <div class="container">
                        <div class="ple">
                            8 de julio / 19h00
                        </div>
                        <div class="ple-txt">
                            HOY MÁS QUE NUNCA, LIBRES <br>
                        </div>
                        <div class="ple-txt-2 col-lg-10">
                            Ps. Jeffrey y Sarah Huff - 
                            <small class="small">
                                Auditorio CdFe Granados
                            </small>
                        </div>
                    </div><br><br class="title-taller">
                    <div class="container">
                        <div class="ple">
                            9 de julio / 19h00
                        </div>
                        <div class="ple-txt">
                            HOY MÁS QUE NUNCA, VIVE CON PROPÓSITO <br>
                        </div>
                        <div class="ple-txt-2 col-lg-10">
                            Ps. Danny Serrano - 
                            <small class="small">
                                Auditorio CdFe Granados
                            </small>
                        </div>
                    </div><br><br class="title-taller">
                    <div class="container">
                        <div class="ple">
                            10 de julio / 08h00
                        </div>
                        <div class="ple-txt">
                            HOY MÁS QUE NUNCA, ALCÁNZALOS <br>
                        </div>
                        <div class="ple-txt-2 col-lg-10">
                            Ps. Joel Manderfield - 
                            <small class="small">
                                Transmisión en vivo desde Cali/Colombia (Auditorio CdFe Granados)
                            </small>
                        </div>
                    </div><br>
                    <div class="container">
                        <div class="ple">
                            10 de julio / 09h30
                        </div>
                        <div class="ple-txt">
                            HOY MÁS QUE NUNCA, NO TE RINDAS <br>
                        </div>
                        <div class="ple-txt-2 col-lg-10">
                            Ps. Nicolás Gómez - 
                            <small class="small">
                                Auditorio CdFe Granados
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-tal"><br><br class="title-taller">
            <div class="container fluid">
                <div>
                    <div class="col-lg-4 title-ple">
                        AGENDA
                    </div>
                    <div class="col-lg-8 subtitle">
                        TALLERES
                    </div>
                    <br>
                    <br class="title-taller">
                    <br class="title-taller">
                    <br class="title-taller">
                    <div class="container">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8 box-date">
                            10 de julio / 11h30 - 12h15
                        </div>
                        <div class="col-lg-4 title-taller">
                            TALLERES <br> SIMULTÁNEOS <br> VARONES <br> Y MUJERES
                        </div>
                        <div class="col-lg-8 box-info">
                            1 SÉ REAL:
                            <ul>
                                <li class="tal-txt">
                                    SÉ LA MEJOR VERSIÓN DE TI COMO HOMBRE <br>
                                    <small>Ps. Danny Serrano</small>
                                </li>
                                <li class="tal-txt">
                                    SÉ LA MEJOR VERSIÓN DE TI COMO MUJER <br>
                                    <small>Ps. Gaby Serrano</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8 box-date-2">
                            10 de julio / 12h15 -13h00
                        </div>
                        <div class="col-lg-4 title-taller">
                            TALLERES <br> SIMULTÁNEOS <br> ESCOGE UNO <br> DE ELLOS
                        </div>
                        <div class="col-lg-8 box-info-2">
                            2 DOBLE PERFIL / <small>Ps. Giselle Manderfield</small>
                            <div class="tal-txt-2">
                                CÓMO PROYECTAR MI INFLUENCIA EN LAS REDES SOCIALES                                       
                            </div>
                            3 SUEÑOS VS PROPÓSITO / <small>Ps. Joel Manderfield</small>
                            <div class="tal-txt-2">
                                CÓMO EQUILIBRAR SUEÑOS CON EL LLAMADO DE DIOS EN MI VIDA
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="container">
                    <div class="ple-txt-2 col text-center">
                        Los talleres son virtuales, serán transmitidos por ZOOM
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
