<section id="register" class="contact">
        <div>
            <div class="bg-ple"></div>
            <div class="bg-tal"></div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group-btn">
                        <button 
                            type="button" 
                            class="btn btn-custom news-btn" 
                            [routerLink]="['/registro']">
                            Regístrate
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button 
                            type="button" 
                            class="btn btn-custom news-btn" 
                            [routerLink]="['/pago']">
                            Formas de pago
                        </button>
                    </div>
                </div>
            </div>
        </div>
</section>
