<section id="register" class="contact">
        <div>
            <div class="bg-ple"><br><br>
                <div class="container fluid">
                    <div>
                        <div class="col-lg-4 title-ple">
                            AGENDA
                        </div>
                        <div class="col-lg-8 subtitle">
                            PLENARIAS
                        </div><br><br><br><br><br>
                        <div class="container">
                            <div class="ple">
                                8 de julio / 19h00
                            </div>
                            <div class="ple-txt">
                                HOY MÁS QUE NUNCA, LIBRES <br>
                            </div>
                            <div class="ple-txt-2 col-lg-4">
                                Ps. Jeffrey Huff
                            </div>
                        </div><br><br>
                        <div class="container">
                            <div class="ple">
                                9 de julio / 19h00
                            </div>
                            <div class="ple-txt">
                                HOY MÁS QUE NUNCA, VIVE CON PROPÓSITO <br>
                            </div>
                            <div class="ple-txt-2 col-lg-4">
                                Ps. Danny Serrano
                            </div>
                        </div><br><br>
                        <div class="container">
                            <div class="ple">
                                10 de julio / 08h30
                            </div>
                            <div class="ple-txt">
                                HOY MÁS QUE NUNCA, ALCÁNZALOS <br>
                            </div>
                            <div class="ple-txt-2 col-lg-4">
                                Ps. Joel Manderfield
                            </div><br><br>
                            <div class="ple-txt">
                                HOY MÁS QUE NUNCA, NO TE RINDAS <br>
                            </div>
                            <div class="ple-txt-2 col-lg-4">
                                Ps. Nicolás Gómez
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-tal"><br><br>
                <div class="container fluid">
                    <div>
                        <div class="col-lg-4 title-ple">
                            AGENDA
                        </div>
                        <div class="col-lg-8 subtitle">
                            PLENARIAS
                        </div><br><br><br>
                        <div class="container">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8 box-date">
                                10 de julio / 11h30 - 12h15
                            </div>
                            <div class="col-lg-4 title-taller">
                                TALLERES <br> SIMULTÁNEOS <br> VARONES <br> Y MUJERES
                            </div>
                            <div class="col-lg-8 box-info">
                                1 SÉ REAL:
                                <ul>
                                    <li class="tal-txt">
                                        SÉ LA MEJOR VERSIÓN DE TI COMO HOMBRE <br>
                                        <small>Ps. Danny Serrano</small>
                                    </li>
                                    <li class="tal-txt">
                                        SÉ LA MEJOR VERSIÓN DE TI COMO MUJER <br>
                                        <small>Pra. Gabriela Serrano</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group-btn">
                        <button 
                            type="button" 
                            class="btn btn-custom news-btn" 
                            [routerLink]="['/registro']">
                            Regístrate
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button 
                            type="button" 
                            class="btn btn-custom news-btn" 
                            [routerLink]="['/pago']">
                            Información de pago
                        </button>
                    </div>
                </div>
            </div>
        </div>
</section>
