<section class="newsletter">
    <div class="bg-pag">
        <div class="container fluid">
            <div>
                <div class="title-ple">
                    INFORMACIÓN
                </div><br><br><br><br class="title-taller"><br class="title-taller">
                <div class="container">
                    <div class="pag">
                        Aporte sugerido Seminario $10
                    </div>
                    <div class="pag-txt">
                        Presencial <br>
                    </div>
                </div><br>
                <div class="container">
                    <div class="pag">
                        Aporte sugerido Seminario $5
                    </div>
                    <div class="pag-txt">
                        Por Zoom <br>
                    </div>
                </div><br><br>
                <div class="container">
                    <div class="pag">
                        REALIZA TU APORTE EN LA CUENTA:
                    </div>
                    <div class="pag-txt">
                        Banco del Pichincha <br>
                        Comunidad de Fe <br>
                        Cuenta Ahorros: <small class="pag-1">5728888100</small> <br>
                        RUC: <small class="pag-1">1790823318001</small> <br>
                        cdfegranados@trans-telco.com
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="pag-txt-3 col-lg-8">
                        NOTA: Indicar en el asunto de la transferencia el nombre de la persona inscrita 
                        y la palabra "Seminario".
                    </div>
                </div><br><br><br><br><br>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="main_content col-8">
                        <div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a 
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSd_363axR8jPeECTwqLeRvBrYKDbZsiAi37e40PyCmmQxBLyA/viewform" 
                                        class="btn btn-custom news-btn button">
                                        Regístrate
                                    </a>
                                </span>
                            </div>
                        </div><br><br>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>