@font-face {
    font-family: Montserrat;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat);
}
body, html {
    font-family: Montserrat;
}
.ul {
    display: flex;
}

.coming-soon {
    width: 100%;
}

.time-countdown ul {
    margin: 30px auto;
}

.time-countdown ul li {
    width: 12%;
    margin-right: 4%;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 24px 20px;
    color: #9447f8;
    text-shadow: 8px 8px 5px #000;
}

.time-countdown ul li span {
    color: #9447f8;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    display: block;
    text-shadow: 4px 4px 10px #000;
}
@media(max-height:360px){
    .time-countdown ul span {
        font-size: 30px;
        line-height: 30px;
    }
    ul{
        justify-content: left;
    }
    p{
        font-size: 12px;
    }
}
@media(max-width:560px){
    .time-countdown ul li span {
        font-size: 30px;
        line-height: 30px;
    }
    ul{
        justify-content: left;
    }
    p{
        font-size: 12px;
    }
}
@media(min-width:560px) and (max-width: 1024px){
    .time-countdown ul li span {
        font-size: 45px;
        line-height: 45px;
    }
    ul{
        justify-content: center;
    }
    p{
        font-size: 15px;
        justify-content: left;
    }
}
.frame{
    width: 640px;
    height: 840px;
}
@media(max-height:360px){
    .frame {
        width: 320px;
        height: 920px;
    }
}
@media(max-width:560px){
    .frame {
        width: 320px;
        height: 920px;
    }
}
@media(min-width:560px) and (max-width: 1024px){
    .frame {
        width: 460px;
    }
}
@media(max-height:360px){
    .resp-soc {
        margin-left: 35%;
    }
}
@media(max-width:560px){
    .resp-soc {
        margin-left: 35%;
    }
}
@media(min-width:560px) and (max-width: 1024px){
    .resp-logo {
        margin-left: 10%;
    }
}
.title-ple {
    font-family: Montserrat;
    font-weight: bold;
    color: #FFAA00;
    font-size: 30px;
    text-align: center;
    background-color: #5B00D0;
}
.subtitle {
    font-family: Montserrat;
    color: #fff;
    font-size: 30px;
    text-align: left;
    background-color: #FFAA00;
}
.container {
    width: 80%;
    height: auto;
}
.ple {
    font-family: Montserrat;
    text-align: left;
    color: white;
    font-size: 26px;
    font-weight: bold;
    line-height : 25px;
}
.ple-txt {
    font-family: Montserrat;
    text-align: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height : -5px;
}
.ple-txt-2 {
    font-family: Montserrat;
    text-align: left;
    color: #fff;
    font-size: 20px;
    background-color: #5B00D0;
    line-height : -5px;
}
.title-taller {
    padding-top: 3%;
    font-family: Montserrat;
    text-align: right;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    line-height : -5px;
}
.tal-txt{
    font-family: Montserrat;
    text-align: left;
    color: #3e028d;
    font-size: 18px;
    font-weight: bold;
    line-height : -5px;
}
.tal-txt-2{
    font-family: Montserrat;
    text-align: left;
    margin-left: 15px;
    color: #3e028d;
    font-size: 18px;
    font-weight: bold;
    line-height : -5px;
}
small {
    color: white;
}
.box-date {
    height: 40px;
    padding-top: 8px;
    background-color: white;
    font-family: Montserrat;
    text-align: center;
    color: #5B00D0;
    font-size: 26px;
    font-weight: bold;
    line-height : 25px;
}
.box-date-2 {
    height: 40px;
    padding-top: 8px;
    margin-top: 5PX;
    background-color: white;
    font-family: Montserrat;
    text-align: center;
    color: #5B00D0;
    font-size: 26px;
    font-weight: bold;
    line-height : 25px;
}
.box-info {
    height: 100%;
    padding-top: 12px;
    margin-top: 5px;
    border: white solid;
    font-family: Montserrat;
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height : 25px;
}
.box-info-2 {
    height: 100%;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: 5px;
    border: white solid;
    font-family: Montserrat;
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height : 25px;
}
.pag {
    font-family: Montserrat;
    text-align: center;
    color: #3e028d;
    font-size: 26px;
    font-weight: bold;
    line-height : 25px;
}
.pag-txt {
    font-family: Montserrat;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height : -5px;
}
.pag-1 {
    color: #000;
}
.pag-txt-2 {
    font-family: Montserrat;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #5B00D0;
    line-height : -5px;
}
.pag-txt-3 {
    font-family: Montserrat;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #5B00D0;
    line-height : -5px;
}
.pred {
    color: white;
    font-size: 20px;
}
.pred:hover{
    color: white;
}
.center {
    justify-content: center;
}
@media(max-height:360px){
    .container {
        width: 100%;
    }
    .subtitle{
        text-align: center;
    }
    .ple{
        font-size: 18px;
    }
    .ple-txt {
        font-size: 16px;
    }
    .ple-txt-2 {
        font-size: 16px;
    }
    .box-date {
        font-size: 18px;
    }
    .box-date-2 {
        font-size: 18px;
    }
    .title-taller{
        display:none !important;
    }
    .box-info{
        font-size: 16px;
        line-height : 20px;
    }
    .box-info-2{
        font-size: 16px;
        line-height : 20px;
    }
    .tal-txt{
        font-size: 16px;
        line-height : 20px;
    }
    .tal-txt-2{
        font-size: 16px;
        line-height : 20px;
    }
    .pag{
        font-size: 18px;
    }
    .pag-txt {
        font-size: 16px;
    }
    .pag-txt-2 {
        font-size: 16px;
    }
    .pag-txt-3 {
        font-size: 12px;
    }
}
@media(max-width:560px){
    .container {
        width: 100%;
    }
    .subtitle{
        text-align: center;
    }
    .ple{
        font-size: 18px;
    }
    .ple-txt {
        font-size: 16px;
    }
    .ple-txt-2 {
        font-size: 16px;
    }
    .box-date {
        font-size: 18px;
    }
    .box-date-2 {
        font-size: 18px;
    }
    .title-taller{
        display:none !important;
    }
    .box-info{
        font-size: 16px;
        line-height : 20px;
    }
    .box-info-2{
        font-size: 16px;
        line-height : 20px;
    }
    .tal-txt{
        font-size: 16px;
        line-height : 20px;
    }
    .tal-txt-2{
        font-size: 16px;
        line-height : 20px;
    }
    .pag{
        font-size: 18px;
    }
    .pag-txt {
        font-size: 16px;
    }
    .pag-txt-2 {
        font-size: 16px;
    }
    .pag-txt-3 {
        font-size: 12px;
    }
}
@media(min-width:560px) and (max-width: 1024px){
    .container {
        width: 100%;
    }
    .fluid {
        padding-top: 24%;
    }
    .subtitle{
        text-align: center;
    }
    .ple{
        font-size: 22px;
    }
    .ple-txt {
        font-size: 20px;
    }
    .ple-txt-2 {
        font-size: 20px;
    }
    .title-taller{
        display:none !important;
    }
}