<section class="newsletter">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="main_content col-8">
                    <h4 class="title"><strong>Se parte de nuestro seminario de verano 2021</strong></h4>
                    <p class="txt-prs">
                        No te lo puedes perder. <br> 
                        Del 8 al 10 de julio. <br>
                        Separa este tiempo, tendremos invitados muy especiales
                    </p>
                    <div>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button 
                                    type="button" 
                                    class="btn btn-custom news-btn" 
                                    [routerLink]="['/registro']">
                                    Regístrate
                                </button>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
