<div>
    <app-home id="home"></app-home>
    <section class="newsletter">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="main_content col-8">
                        <iframe 
                            src="https://docs.google.com/forms/d/e/1FAIpQLSd_363axR8jPeECTwqLeRvBrYKDbZsiAi37e40PyCmmQxBLyA/viewform?embedded=true" 
                            class="frame"
                            frameborder="0" 
                            marginheight="0" 
                            marginwidth="0">
                            Cargando…
                        </iframe>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>